<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-square-instagram"></i>
    </div>
    <div class="f-info-brand">&copy; StayNest Private Limited</div>
    <div>
      <p class="devInfo">
        Developed by: Abbas WH
        <a
          target="_blank"
          href="https://www.linkedin.com/in/mohammed-abbas-wh-110a97231/"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a target="_blank" href="https://github.com/abutastic"
          ><i class="fa-brands fa-square-github"></i
        ></a>
      </p>
    </div>
  </div>
</footer>
